.body-top {
  padding-top: 240px;

}

.body-bottom {
  padding-top: 60px;

}

.header {
  background-image: url('http://www.up-downbikes.it/images/Cool-Designs-HD-Wallpaper.jpg');
  background-size: cover;
  padding-top: 100px;

}
.header-top {
  background-image: url('http://www.up-downbikes.it/images/Cool-Designs-HD-Wallpaper.jpg');
  background-size: cover;
  padding-top: 100px;

}

.header-bottom{
  background-image: url('http://www.up-downbikes.it/images/Cool-Designs-HD-Wallpaper.jpg');
  background-size: cover;
  padding-top: 100px;
  margin-bottom: 30px;

}

.header-text {
  margin-bottom: 0px;
  color: white;

}
