<div id="form">

  <div class="fish" id="fish"></div>
  <div class="fish" id="fish2"></div>

  <form id="waterform" method="post">

    <div class="formgroup" id="makh-form">
      <label for="makh">Mã khách hàng</label>
      <input type="text" id="makh" name="name" />
    </div>
    <div class="formgroup" id="makhh-form">
      <label for="makhh">Mã khách hàng*</label>
      <input type="text" id="makhh" name="email" />
    </div>

    <div class="formgroup" id="tenkh-form">
      <label for="tenkh">Tên khách hàng*</label>
      <input type="email" id="tenkh" name="email" />
    </div>

    <div class="formgroup" id="date-form">
      <label for="date">Ngày Sinh</label>
      <input type="date" id="date" name="name" />

    </div>
    <div class="formgroup" id="sodth-form">
      <label for="sodth">Số Điện Thoại*</label>
      <input type="text" id="sodth" name="name" />
    </div>
    <div class="formgroup" id="gmail-form">
      <label for="gmail">Gmail*</label>
      <input type="email" id="gmail" name="name" />
    </div>
    <div class="formgroup" id="diachi-form">
      <label for="diachchi">Địa chỉ*</label>
      <input type="text" id="diachchi" name="name" />
    </div>

    <input type="submit" value="Add" />
    <input type="submit" value="Edit" />
    <input type="submit" value="Delete" />

  </form>
</div>
