!-- Site footer -->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">Công ty Cổ phần Văn hóa và Truyền thông Nhã Nam, thường gọi tắt là Nhã Nam là doanh nghiệp hoạt động trong lĩnh vực kinh doanh dịch vụ văn hóa và xuất bản phẩm tại Việt Nam. Công ty được thành lập vào năm 2005 với một nhóm nòng cốt say mê văn chương, sách vở, cuốn sách best-seller đầu tiên là Nhật ký Đặng Thùy Trâm, tiêu thụ 500.000 bản ngay trong năm đầu tiên. Cuốn sách đã tạo nên một cú huých cực mạnh đưa cái tên Nhã Nam đến với nhiều độc giả hơn, đánh dấu thời kỳ chuyển mình của thương hiệu này..</p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Categories</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/category/c-language/
">Văn Học Việt Nam</a></li>
          <li><a href="http://scanfcode.com/category/front-end-development/
">Văn Học Nước Ngoài</a></li>
          <li><a href="http://scanfcode.com/category/back-end-development/
">Sách Thiếu Nhi</a></li>
          <li><a href="http://scanfcode.com/category/java-programming-language/
">Tiểu Thuyết</a></li>
          <li><a href="http://scanfcode.com/category/android/
">Truyện Tranh</a></li>
          <li><a href="http://scanfcode.com/category/templates/
">Sách Chiến Tranh</a></li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li><a href="http://scanfcode.com/about/
">About Us</a></li>
          <li><a href="http://scanfcode.com/contact/
">Contact Us</a></li>
          <li><a href="http://scanfcode.com/contribute-at-scanfcode/
">Contribute</a></li>
          <li><a href="http://scanfcode.com/privacy-policy/
">Privacy Policy</a></li>
          <li><a href="http://scanfcode.com/sitemap/
">Sitemap</a></li>
        </ul>
      </div>
    </div>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">

      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
